.container {
    width: 80%;
    background-color: rgb(102, 223, 91);
    min-height: 300px;
    margin-left: auto;
    margin-right: auto;
}

header{
    background-color: chartreuse;
    min-height: 100px;

}

main {
    background-color: rgb(8, 80, 12);
    min-height: 300px;
}

.cards {
    background-color: rgb(53, 199, 60);
    min-height: 300px;
    display: flex;
    justify-content: space-between;
    
}
.card1 {
    background-color: rgb(199, 53, 150);
    min-height: 300px;
    width: 30%;
}
.card2 {
    background-color: rgb(218, 154, 196);
    min-height: 300px;
    width: 30%;
}
.card3 {
    background-color: rgb(53, 182, 199);
    min-height: 300px;
    width: 30%;
}